# Byte-compiled / intermediate files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
*.err
*.out

# OS-specific files
.DS_Store
CLAUDE.md
IMAGE_CUTOUTS_HDF5_MIGRATION.md
